# Models & Large Binaries
*.keras
checkpoints/

# Data & Results
jpeg/
# (Keeping archive/ to include result plots and CSV logs)

# Project Dependencies
mlnn.linux/

# Python/Notebook
__pycache__/
.ipynb_checkpoints/
.python-version

# System
.DS_Store
Thumbs.db
desktop.ini
